@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100&display=swap');

/* import tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* taking fullscreen */
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* clipping hero-image-slider */
.heroImage {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(16% 0%, 100% 0, 100% 30%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0% 22%);
}

/* underline customization  */
.custom-underline {
  text-decoration: underline;
  text-decoration-color: #ff7b3d;
  text-decoration-thickness: 3px;
}

/* scale */
.scale2x {
  transform: scale(1.35);
}
.height22 {
  height: 21.65rem;
}
.width22 {
  width: 22.2rem;
}
.menu-item {
  border-bottom: 2px solid transparent;
  margin-bottom: -0.2px;
  transition: all 0.18s;
}

.menu-item:hover {
  border-bottom: 2.5px solid #ff7b3d;
}

.menu-item:focus {
  border-bottom: 2.5px solid #ff7b3d;
}
